    <div id="display_area">
        <style>
            {base_style}
        </style>
        <style>
            {pygments}
        </style>
        <style>
            {katex}
        </style>
        <style>
            {markdown_alt}
        </style>
        <script>
            {jquery_script}
        </script>
        <script>
            {base_script}
        </script>
        <div class="popup_button" id="popup_button">
            Description
        </div>
        <div id="info_only_elements" hidden>
            <script type="application/json" id="js_node_info">
                {js_node_info}
            </script>
            {svg_data_elements}
        </div>
        <div class="graphdisplay" id="graphdis">
            <div id="svg_container">
                <div id="svg_obj">
                </div>
            </div>
        </div>
        <div class="long_form_display">
            <div id="popup" class="popup_global_shader">
                <div id="popup_body_id" class="popup_body horizontal-center vertical-center">
                    <div class="popup_middle_pad">
                        <div class="popup_inner" id="popup_content">

                        </div>
                    </div>
                    <div class="title_section">
                        <h2 id="title_loc">

                        </h2>
                    </div>
                    <div id="button-section">
                        <label class="close-button" id="close_button">
                            &times;
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="legend">
            {legend}
        </div>
    </div>
