    <style>
        {base_style}
    </style>
    <script>
        {base_script}
    </script>
    <div id="display_area">
        <div class="popup_button" id="popup_button">
            Description
        </div>
        <div id="info_only_elements" hidden>
            <script type="application/json" id="js_node_info">
                {js_node_info}
            </script>
            {svg_data_elements}
        </div>
        <div class="graphdisplay">
            <div id="svg_container">
                <div id="svg_obj">
                </div>
            </div>
        </div>
        <div class="long_form_display">
            <div id="popup" class="popup_global_shader" hidden>
                <div id="popup_body_id" class="popup_body horizontal-center vertical-center">
                    <div class="popup_inner">

                    </div>
                </div>
            </div>
        </div>
        <div class="legend">
            {legend}
        </div>
    </div>
