<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="jquery.js"></script>
    <link rel="stylesheet" href="katex.css"/>

    <title>Info Graph</title>

    <!-- Bootstrap Core CSS -->
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    {content}
</body>

</html>
