.legend_box {
  float: left;
  height: 1.2em;
  width: 1.2em;
  border: 1px solid black;
  clear: both;
}
.legend_table{
border: 1px solid black;
}
.document_column{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    max-width: 200em:
}
#display_area {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
@media all and (max-width: 800px) {
    .popup_global_shader{
        width: 100%;
        height: 100%;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        background: rgba(0,0,0,0.35);
        z-index: 100000; /* goes above leaflet link */
        display:none;
    }

    .popup_body{
        position: absolute;
        height: 100%;
        /* size of box on larger screens*/
        max-height: 800px;
        max-width: 500px;
        /*differentiates popup background slightly from normal background*/
        background: white;/*rgba(0,0,0,0.65);*/
        /* border around box on large screens
         * pattern:  _ _ blur spread color*/
        box-shadow: 0 0 10px 10px rgba(0,0,0,0.2);
        overflow: hidden;
    }
    .graphdisplay {
        left: 0;
    }
}
@media not all and (max-width: 800px) {
    .popup_global_shader{
        position: absolute;
        width: 30em;
        left: 0;
        top: 0;
        bottom: 0;
        background: rgba(0,0,0,0.35);
        z-index: 10;
    }

    .popup_body{
        position: absolute;
        height: 100%;
        background: white;
        overflow: hidden;
    }
    .graphdisplay {
        left: 30em;
    }
}
.popup_inner{
}
.close-button{
    font: normal 4em/normal Arial;
    color: #422C1E;
    cursor: pointer;
    pointer-events:auto;
    padding-right: 0.1em;
}
#button-section{
    position: absolute;

    top: 0;
    right: 0;

    text-align: right;
    z-index: 2;/*positioned on top of other sections*/
    pointer-events: none;
}
.title_section{
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 50pt;
    border-bottom-width: 1pt;
    border-bottom-style: solid;
    z-index:1;
}
#title_loc{

    padding: 0.5em;
}
.popup_middle_pad{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 50pt;

    padding-left:25pt;
    padding-right: 25pt;
    padding-bottom: 100pt;
    overflow-y: auto;
    overflow-x: hidden;
}
.legend {
    position: absolute;
    right: 0;
    bottom: 0;
    max-height: 100%;
    overflow-y: auto;
    z-index: 100;
    background-color: rgba(255,255,255,0.75);
}
.popup_button{
    border: 2px solid black;
    position: absolute;
    padding: 2px;
    z-index: 200;
}
.graphdisplay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
    overflow: auto;
    z-index: 10;
}
.popup_button:hover{
    border-color: blue;
}
.long_form_display img {
    object-fit: scale-down;
    width:100%;
    height:100%;
}
.horizontal-center{
    width: 100%;
    margin: auto;
}
.vertical-center{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
